html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* minder reken werk voor grootte van een box */ 
  }

body{
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}

.nav-ul{
    display: none;
}

.nav-ul.show{
    display: flex;
}

header > div {
    height: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header > div:nth-of-type(1) {
    background-color: #73ab95;
    width: 100vw;

}

header > div:nth-of-type(1) img {
    height: 2em;
}

header > div:nth-of-type(2), header > div:nth-of-type(3) {
    padding-left: 3vw;
    padding-right: 3vw;
    width: 94vw;
}

header > div:nth-of-type(2){
    justify-content: space-between;
}


header > div:nth-of-type(2) img {
    height: 2.5em;
    width: 8em;
}

header > div:nth-of-type(2) span button {
    background-color:#73ab95;
    border-radius: 3px;
    border-style: none;
    height: 2.5em;
    color: white;
    margin-right: .5em;
}

header > div:nth-of-type(2) div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #f88f4e;
    height: 2em;
    width: 2em;
    border-radius: 3px;
    padding-top: 2px; padding-bottom: 2px;
}
header > div:nth-of-type(2) div span {
    width: 80%;
    height: 3px;
    background-color: white;
    border-radius: 1px;
}

header > div:nth-of-type(2) > span{
    display:flex;
    flex-direction: row;
}

header > div:nth-of-type(3) img {
    height: 1em;
}

header > div:nth-of-type(3) span {
    height: 2em;
    width: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: #f88f4e;
}

header > div:nth-of-type(3) input {
    height: 2em;
    width: 100%;

}

@media screen and (min-width: 400px) {
    header > div:nth-of-type(1) {
        justify-content: flex-end;
    }
}

.topnav {
    /*overflow: hidden;*/
    background-color: #f88f4e;
    position: relative;
}

.topnav #myLinks {
    display: block;
    z-index: 1;
    background-color: #73ab95;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    background-color: #73ab95;
}

.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: #73ab95;
    color: black;
}

.active {
    background-color: pink;
    color: white;
}


main {
    width: 100%;
}

main h2 {
    font-family:'Cookie', sans-serif;
    font-size: 3em;
    text-align: center;
    font-weight: 500;
}

main section {
    padding: 2em;
}
main section > img {
    width: 100%;
    max-width: 400px;
}
main section section {
    padding: 1em;
    max-width: 400px;
}


main section section h2, main section section p {
    text-align: center;
}

main section section p {
    margin: 2em 0 2em 0;
}

main section section h2 {
    margin: 0;
    padding: 0;
}

main section section a {
    color: #f88f4e;
    border: #f88f4e solid 2px;
    border-radius: 3px;
    padding: .75em;
    text-decoration: none;
    transition: all 300ms;
}
main section section a:hover {
    color: #73ab95;
    border: #73ab95 solid 2px;

}

main section section p a {
    text-transform: uppercase;
    margin: 0;
    font-size: 14px;
}

main > section:nth-of-type(2) p {
   /* text-align: center;*/
}


main > section:last-of-type {
    background-color: #73ab95;
}

main > section:last-of-type h2 {
    font-family:'Cookie', sans-serif;
    font-size: 3em;
    text-align: center;
    font-weight: 500;
    color: #ffffff;
}

main > section:last-of-type p {
    text-align: center;
    color: #ffffff;
}

main > section h3 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 1.5em;
}

main > section:nth-of-type(4) {
    
}

.responsive{
    float: left;
    padding: 06px;
    width: 29.999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width:49.9999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width:100%; 
    }
}


.recept {
    border-style: dotted;
    margin: 10px;
    color: grey;
}

main > section:nth-of-type(7) img {
    border-radius: 50%;
}

main > section:nth-of-type(7) p {
    
}

main section input:nth-of-type(6) {
 
}

section.gallery img{
    height: auto;
    width: 100%;
}


footer p {
    text-align: center;
    font-size: .5em;
}
